[DEFAULT]
ignoreip  = 127.0.0.1 {{ ansible_default_ipv4.address }} {% if fail2ban_friendly_networks is defined %}{{ ' '.join(fail2ban_friendly_networks) }}{% endif %}

bantime   = 86400

{% if fail2ban_admin_email is defined %}destemail = {{ fail2ban_admin_email }}{% endif %}

banaction = {% if fail2ban_banaction is defined %}{{ fail2ban_banaction }}{% else %}iptables-multiport{% endif %}

action    = %(action_)s

# JAILS
[{% if ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '16.04' %}sshd{% else %}ssh{% endif %}]
enabled   = true
maxretry  = 3

[pam-generic]
enabled   = true
banaction = iptables-allports

[{% if ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '16.04' %}sshd-ddos{% else %}ssh-ddos{% endif %}]
enabled   = true

#[apache]
#enabled = true

#[postfix]
#enabled  = true
#maxretry = 1
#
#[dovecot-pop3imap]
#enabled = true
#filter = dovecot-pop3imap
#action = iptables-multiport[name=dovecot-pop3imap, port="pop3,imap,993,995", protocol=tcp]
#logpath = /var/log/maillog
#maxretry = 20
#findtime = 1200
#bantime = 1200
